body {
  /* https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line */
  /* font-family: 'KaiTi', '楷体_GB2312', 'SimSun'; */

  /* background: hsl(230, 100%, 50%); */
  /* background: hwb(52 58% 4%); */
  /* background: hsl(53, 78%, 48%); */
  /* background-image: url('https://source.unsplash.com/daily'); */
  background: antiquewhite;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /*
  border-style: solid;
  border-width: 1px; 
  color: hsl(240, 0%, 100%);
 */
}

div.gallery {
  border: 1px solid black;
}

div.gallery:hover {
  border: 1px solid black;
}

div.gallery img {
  width: 100%;
  /* height: auto; */
  height: 50%;
}

.header img {
  float: left;
  width: 110px;
  height: 110px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 10px;
  left: 10px;
  font-weight: normal;
  font-size: 32px;
}

/*
h1, h2, h3, h4, h5 {
  padding: 0%;
  text-align: left;
  font-family: 'SimSun';
  font-size: xx-large;
  font-weight: bolder;
}
*/

p.desc_en {
  padding: 0 6px;
  text-align: left;
  font-family: 'Arial';
  font-size: medium;
  font-weight: bolder;
}

div.desc {
  padding: 0 6px;
  text-align: center;
  font-family: 'SimSun';
  font-size: large;
  font-weight: bolder;
}

div.desc_en {
  padding: 0 6px;
  text-align: center;
  font-family: 'Arial';
  font-size: small;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 10px;
  float: left;
  width: 24.99999%;
}

/* For PCs and laptops */
@media only screen and (min-width: 901px) and (max-width: 2000px) {
  .responsive {
    padding: 0 10px;
    width: 24.99999%;
    margin: 10px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
    /* border: 5px solid #ccc; */
    padding: 0 10px;
    margin: 10px 0;
    grid-template-areas:
      "item item item item item"
      "item item item item item"
      "item item item item item"
  }
}

/* For tablets */
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .responsive {
    padding: 0 10px;
    width: 49.99999%;
    margin: 10px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
    /* border: 5px solid #ccc; */
    padding: 0 10px;
    margin: 10px 0;
    grid-template-areas:
      "item item item"
      "item item item"
      "item item item"
  }
}

/* For mobile */
@media only screen and (max-width: 500px) {
  .responsive {
    padding: 0 10px;
    width: 100%;
    margin: 10px 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
    /* border: 5px solid #ccc; */
    padding: 0 10px;
    margin: 10px 0;
    grid-template-areas:
      "item"
      "item"
      "item"
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img:hover {
  /* transform: scale(1.1, 1.1); */
  /* transition: .8s transform; */
  /* animation: skew 3s infinite; */
  /* transform: skew(-10deg); */
  /* animation-direction: alternate; */
}

/* 25.07.2024 Soon: Added the below segment. */
.bg-img {
  /* The image used */
  /* min-height: 380px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image
.container {
  position: absolute;
  margin: 20px;
  width: auto;
} */

/* These attributes should be controlled within the @media settings.
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40vh 30vh 30vh;
  border: 5px solid #ccc;
  grid-template-areas: 
    "item item item item itemv" 
    "item item item item item" 
    "item item item item item"
}
*/

.item {
  background: lightgray;
  border: 1px black solid;
}

.item > img {
  object-fit: cover;
  width: 100%
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: antiquewhite;
}

/* Navbar links */
.topnav a {
  float: left;
  color: antiquewhite;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.menu-button, .menu-button-2 {
  align-content: float;
  width: 250px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  color: rgba(255,255,255, 0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #3CF0C5, #338AFF);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

.menu-button-2 {
     position: absolute;
     margin-top: -70px;
     z-index: -1;
     filter: blur(30px);
     opacity: 0.8;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
