/*
<div class="scene">
    <div class="banner">
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
        <div class="panel"></div>
    </div>
</div>
*/

body {
    background-color: #000;
    color: #fff;
    min-height: 100vh; /* 100vh */
    // display: grid; /* grid */
    place-items: center;
    perspective: 800px; /* 500px */
    perspective-origin: 50% calc(50% - 150px);
}

.scene {
    position: relative;
    transform-style: preserve-3d;
}

.banner {
    display: flex;
    transform-style: preserve-3d;
    animation: rotate 24s infinite linear; /* 24s 10s */
}

@keyframes rotate {
    to { transform: rotateY(-360deg); }
}

$width: 50px;

.panel {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(190px);
    width: $width;
    height: 120px; /* 100px */
    // border: 1px solid white;
    // background-color: #fff4;
    overflow: hidden;
}

.panel::before {
    position: absolute;
    left: var(--left);
    content: "南无阿弥陀佛.众生是未来佛.极乐世界是我家.";
    content: "南无阿弥陀佛.众生是未来佛.";
    font-size: 96px;
    /* LiSu-GOOD, STCaiyun, STFangsong, STKaiti-GOOD, STHupo-BUBBLE LIKE,
    STXingkai-XING SHU, STLiti-A BIT FLAT, STXinwei */
    font-family: KaiTi;
    width: max-content;
    // Control colours of the texts.
    color: hsl(var(--hue), 65%, 65%);
}

@for $i from 0 to 24 {
    .panel:nth-child(#{$i + 1}) {
        --left: #{$width * $i * -1};
        // --hue: #{360 / 24 * $i};
        --hue: #{calc(360deg / 24) * $i};
        // --angle: #{360deg / 24 * $i};
        --angle: #{calc(360deg / 24) * $i};
    }
}

// .screen is not necessary.
.screen {
    position: absolute;
    width: 0px; height: 0px;
    // background-color: #000a;
    background-image: linear-gradient(90deg, #000a, #0004, #000a);
    transform: translate(-50%, -50%);
}
