@charset "UTF-8";
body {
  background-color: #fff; /* #000 */
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 500px;
  perspective-origin: 50% calc(50% - 150px);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
}

.banner {
  display: flex;
  transform-style: preserve-3d;
  animation: rotate 24s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
.panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(190px);
  width: 50px;
  height: 120px;
  overflow: hidden;
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: "南无阿弥陀佛, 众生是未来佛.";
  font-size: 96px;
  /* LiSu-GOOD, STCaiyun, STFangsong, STKaiti-GOOD, STHupo-BUBBLE LIKE,
  STXingkai-XING SHU, STLiti-A BIT FLAT, STXinwei, Kaiti */
  font-family: Arial;
  width: -moz-max-content;
  width: max-content;
  color: hsl(var(--hue), 90%, 45%);
}

.panel:nth-child(1) {
  color: red;
}

.panel:nth-child(2) {
  color: red;
}

.panel:nth-child(3) {
  color: red;
}

.panel:nth-child(4) {
  color: red;
}

.panel:nth-child(5) {
  color: red;
}

.panel:nth-child(6) {
  color: red;
}

.panel:nth-child(7) {
  color: red;
}

.panel:nth-child(8) {
  color: red;
}

.panel:nth-child(9) {
  color: red;
}

.panel:nth-child(10) {
  color: red;
}

.panel:nth-child(11) {
  color: red;
}

.panel:nth-child(12) {
  color: red;
}

.panel:nth-child(13) {
  color: blue;
}

.panel:nth-child(14) {
  color: blue;
}

.panel:nth-child(15) {
  color: blue;
}

.panel:nth-child(16) {
  color: blue;
}

.panel:nth-child(17) {
  color: blue;
}

.panel:nth-child(18) {
  color: blue;
}

.panel:nth-child(19) {
  color: blue;
}

.panel:nth-child(20) {
  color: blue;
}

.panel:nth-child(21) {
  color: blue;
}

.panel:nth-child(22) {
  color: blue;
}

.panel:nth-child(23) {
  color: blue;
}

.panel:nth-child(24) {
  color: blue;
}

.panel:nth-child(25) {
  color: blue;
}

.panel:nth-child(1) {
  --left: 0px;
  --angle: 0deg;
}

.panel:nth-child(2) {
  --left: -50px;
  --angle: 14.4deg;
}

.panel:nth-child(3) {
  --left: -100px;
  --angle: 28.8deg;
}

.panel:nth-child(4) {
  --left: -150px;
  --angle: 43.2deg;
}

.panel:nth-child(5) {
  --left: -200px;
  --angle: 57.6deg;
}

.panel:nth-child(6) {
  --left: -250px;
  --angle: 72deg;
}

.panel:nth-child(7) {
  --left: -300px;
  --angle: 86.4deg;
}

.panel:nth-child(8) {
  --left: -350px;
  --angle: 100.8deg;
}

.panel:nth-child(9) {
  --left: -400px;
  --angle: 115.2deg;
}

.panel:nth-child(10) {
  --left: -450px;
  --angle: 129.6deg;
}

.panel:nth-child(11) {
  --left: -500px;
  --angle: 144deg;
}

.panel:nth-child(12) {
  --left: -550px;
  --angle: 158.4deg;
}

.panel:nth-child(13) {
  --left: -600px;
  --angle: 172.8deg;
}

.panel:nth-child(14) {
  --left: -650px;
  --angle: 187.2deg;
}

.panel:nth-child(15) {
  --left: -700px;
  --angle: 201.6deg;
}

.panel:nth-child(16) {
  --left: -750px;
  --angle: 216deg;
}

.panel:nth-child(17) {
  --left: -800px;
  --angle: 230.4deg;
}

.panel:nth-child(18) {
  --left: -850px;
  --angle: 244.8deg;
}

.panel:nth-child(19) {
  --left: -900px;
  --angle: 259.2deg;
}

.panel:nth-child(20) {
  --left: -950px;
  --angle: 273.6deg;
}

.panel:nth-child(21) {
  --left: -1000px;
  --angle: 288deg;
}

.panel:nth-child(22) {
  --left: -1050px;
  --angle: 302.4deg;
}

.panel:nth-child(23) {
  --left: -1100px;
  --angle: 316.8deg;
}

.panel:nth-child(24) {
  --left: -1150px;
  --angle: 331.2deg;
}

.panel:nth-child(25) {
  --left: -1200px;
  --angle: 345.6deg;
}

.screen {
  position: absolute;
  background-color: transparent; /* #000a */
}/*# sourceMappingURL=南无阿弥陀佛, 众生是未来佛.css.map */