@charset "UTF-8";
body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 500px;
  perspective-origin: 50% calc(50% - 150px);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
}

.banner {
  display: flex;
  transform-style: preserve-3d;
  animation: rotate 24s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
.panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(190px);
  width: 50px;
  height: 120px;
  overflow: hidden;
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: "南无阿弥陀佛, 众生是未来佛, 极乐世界是我家.";
  font-size: 96px;
  width: -moz-max-content;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
}

.panel:nth-child(1) {
  --left: 0px;
  --hue: 0;
  --angle: 0deg;
}

.panel:nth-child(2) {
  --left: -50px;
  --hue: 14.4;
  --angle: 14.4deg;
}

.panel:nth-child(3) {
  --left: -100px;
  --hue: 28.8;
  --angle: 28.8deg;
}

.panel:nth-child(4) {
  --left: -150px;
  --hue: 43.2;
  --angle: 43.2deg;
}

.panel:nth-child(5) {
  --left: -200px;
  --hue: 57.6;
  --angle: 57.6deg;
}

.panel:nth-child(6) {
  --left: -250px;
  --hue: 72;
  --angle: 72deg;
}

.panel:nth-child(7) {
  --left: -300px;
  --hue: 86.4;
  --angle: 86.4deg;
}

.panel:nth-child(8) {
  --left: -350px;
  --hue: 100.8;
  --angle: 100.8deg;
}

.panel:nth-child(9) {
  --left: -400px;
  --hue: 115.2;
  --angle: 115.2deg;
}

.panel:nth-child(10) {
  --left: -450px;
  --hue: 129.6;
  --angle: 129.6deg;
}

.panel:nth-child(11) {
  --left: -500px;
  --hue: 144;
  --angle: 144deg;
}

.panel:nth-child(12) {
  --left: -550px;
  --hue: 158.4;
  --angle: 158.4deg;
}

.panel:nth-child(13) {
  --left: -600px;
  --hue: 172.8;
  --angle: 172.8deg;
}

.panel:nth-child(14) {
  --left: -650px;
  --hue: 187.2;
  --angle: 187.2deg;
}

.panel:nth-child(15) {
  --left: -700px;
  --hue: 201.6;
  --angle: 201.6deg;
}

.panel:nth-child(16) {
  --left: -750px;
  --hue: 216;
  --angle: 216deg;
}

.panel:nth-child(17) {
  --left: -800px;
  --hue: 230.4;
  --angle: 230.4deg;
}

.panel:nth-child(18) {
  --left: -850px;
  --hue: 244.8;
  --angle: 244.8deg;
}

.panel:nth-child(19) {
  --left: -900px;
  --hue: 259.2;
  --angle: 259.2deg;
}

.panel:nth-child(20) {
  --left: -950px;
  --hue: 273.6;
  --angle: 273.6deg;
}

.panel:nth-child(21) {
  --left: -1000px;
  --hue: 288;
  --angle: 288deg;
}

.panel:nth-child(22) {
  --left: -1050px;
  --hue: 302.4;
  --angle: 302.4deg;
}

.panel:nth-child(23) {
  --left: -1100px;
  --hue: 316.8;
  --angle: 316.8deg;
}

.panel:nth-child(24) {
  --left: -1150px;
  --hue: 331.2;
  --angle: 331.2deg;
}

.panel:nth-child(25) {
  --left: -1200px;
  --hue: 345.6;
  --angle: 345.6deg;
}

.screen {
  position: absolute;
  width: 400px;
  height: 400px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6666666667), rgba(0, 0, 0, 0.2666666667), rgba(0, 0, 0, 0.6666666667));
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=南无阿弥陀佛, 众生是未来佛, 极乐世界是我家.css.map */